<div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl  modal-dialog-centered" role="document">
    <div class="modal-content rounded-0">
    <div class="modal-body py-0">
    <div class="d-block main-content">
    <img src="../../../assets/Imgs/Home/Modals/About-Me/1.gif" alt="Image" class="img-fluid" style="background-color: #b2fcff;">
    <div class="content-text p-4">
    <h3 class="mb-4">Trilhando o Futuro: Minha Jornada no Desenvolvimento de Sistemas e a Visão de Transformação Tecnológica</h3>
    <p class="my-2 ">
        Com uma paixão pela programação que se iniciou em 2019, 
        comecei minha jornada no desenvolvimento de sistemas, impulsionado por uma visão que surgiu desde 2017, 
        quando percebi como os sistemas poderiam revolucionar e substituir muitas das atividades manuais e repetitivas.
         Minha trajetória profissional tem sido uma busca constante pela excelência no campo da tecnologia.
         </p>
    <p class="mb-2">
        Tenho orgulho de possuir 3 anos de experiência no mercado, com um foco sólido no setor bancário, 
        onde pude testemunhar em primeira mão o impacto transformador da tecnologia. 
        Atualmente, estou empenhado em aprimorar minha educação, cursando Ciências da Computação na UNIFACS, 
        além de ser formado em Técnico em Desenvolvimento de Sistemas pelo SENAI.
    </p>        
    <br>   
    <p class="my-2">    
        Minhas habilidades abrangem diversas tecnologias, 
        incluindo programação em C#, .NET, Entity Framework, LINQ, XUNIT, ASP.NET, GIT, SQL, PostgreSQL, RabbitMq, Kafka, 
        Redis, Mongo, ElasticSearch, Kibana, Azure, Azure DevOps, Azure Function e AWS. 
        Essa ampla gama de conhecimentos me torna um profissional versátil e 
        preparado para enfrentar desafios complexos no desenvolvimento de sistemas.
    </p>
    <p class="mb-2">     
        Além do domínio técnico, sou adepto das metodologias ágeis, como SCRUM, XP, Pair Programming e KANBAN, 
        e aplico as melhores práticas e princípios de arquitetura, como DRY, SOLID e Clean Code. 
        Tenho um profundo compromisso com a qualidade, evidenciado pela minha expertise em Teste Unitário, 
        Teste de Integração, TDD e DDD.
    </p>    
    <br>
    <p class="mb-2">
        Minha jornada de aprendizado desde 2019 até minha experiência atual me torna um candidato altamente capacitado 
        e pronto para contribuir em projetos desafiadores. Meu objetivo atual é focar no desenvolvimento de software, 
        com especialização em .Net (C#), com a ambição de oferecer suporte, liderança e orientação sempre que necessário.
    </p>
        <br> 
        <div class="bg-light border border-light-subtle border-5 mt-2 py-2">
            <div class="container py-1">
              <div class="row align-items-center mb-2">
        <p class="lead pt-2">    
        "Acredito que a tecnologia é o motor da inovação e sou entusiasmado em continuar avançando nesse campo, 
        explorando novas oportunidades e contribuindo para moldar o futuro da programação e
         do desenvolvimento de sistemas com qualidade."
        </p>
        <blockquote class="blockquote">
        <p class=" font-italic text-italic text-center text-muted ">Ass.: O Autor</p>
    </blockquote>
        </div>
        </div>
        </div>

        <p class="my-4 fs-4 fw-bold">O que achou do conteudo?</p>
    <div class="d-grid gap-2 col-6 mx-auto">
    <div class="ml-auto">
    <button  class="btn btn-primary px-3 mx-3">Não Gostei</button>
    <button type="submit"   class="btn btn-success mx-3 px-4" data-bs-dismiss="modal" >Gostei</button>

    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>
