
 .part-2 .product-title {
    font-size: 1rem !important; 
}

.part-2 h4 {
    display: inline-block !important;
    font-size: 1rem !important;
}


.part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}


.part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}