<div class="container container-fluid  text-center pt-5 mt-5" >
  <div class="row align-items-center justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-xl-3">
      <div class="card mx-2 my-2" style="width: 16rem; min-height: 395px; max-height: auto;">
        <img src="https://picsum.photos/id/237/2000" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sobre Mim</h5>
          <p class="card-text mb-4">Descubra minha jornada na programação →</p>
          <div class="row">
            <a href="#" class="btn btn-primary mt-4">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-xl-3">
      <div class="card mx-2 my-2" style="width: 16rem;   min-height: 395px; max-height: auto;">
        <img src="https://picsum.photos/id/234/2000" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Experiência Profissional</h5>
          <p class="card-text mb-4">Explore minhas realizações profissionais →
          </p>
          <div class="row">
            <a href="#" class="btn btn-primary mt-4">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-xl-3">
      <div class="card mx-2 my-2" style="width: 16rem;  min-height: 395px; max-height: auto;">
        <img src="https://picsum.photos/id/240/2000" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Formação Acadêmica</h5>
          <p class="card-text mb-4">Veja minha trajetória acadêmica →
          </p>
          <div class="row">
            <a href="#" class="btn btn-primary mt-4">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-xl-3">
      <div class="card  mx-2" style="width: 16rem;  min-height: 395px; max-height: auto;">
        <img src="https://picsum.photos/id/241/2000" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cursos e Certificações</h5>
          <p class="card-text">Conheça minha busca constante pelo conhecimento →
          </p>
          <div class="row">
            <a href="#" class="btn btn-primary mt-2">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>>