<div class="container container-fluid  text-center pt-5 mt-5" >
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 align-items-center justify-content-center">
    <div class="col">
      <div class="card mx-auto mx-md-2 my-2" style="width: 16rem; min-height: 395px; max-height: auto;">
        <img src="../../../assets/Imgs/Home/1.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sobre Mim</h5>
          <p class="card-text mb-4">Descubra minha jornada na programação →</p>
          <div class="row">
            <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#aboutMeModal">
            Minha Jornada Secreta</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mx-auto mx-md-2 my-2" style="width: 16rem;   min-height: 395px; max-height: auto;">
        <img src="../../../assets/Imgs/Home/2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Experiência Profissional</h5>
          <p class="card-text mb-4">Explore minhas realizações profissionais →
          </p>
          <div class="row">
            <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#professionalJourneyModal">
            Explorações Profissionais
          </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mx-auto mx-md-2 my-2" style="width: 16rem;  min-height: 395px; max-height: auto;">
        <img src="../../../assets/Imgs/Home/3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Formação Acadêmica</h5>
          <p class="card-text mb-4">Veja minha trajetória acadêmica →
          </p>
          <div class="row">
            <button type="button" 
            class="btn btn-primary mt-4" 
            data-bs-toggle="modal" 
            data-bs-target="#academicFormationModal">
            Meu Caminho Acadêmico</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mx-auto mx-md-2 my-2" style="width: 16rem;  min-height: 395px; max-height: auto;">
        <img src="../../../assets/Imgs/Home/4.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cursos e Certificações</h5>
          <p class="card-text">Conheça minha busca constante pelo conhecimento →
          </p>
          <div class="row">
            <a href="/gallery" class="btn btn-primary mt-2">
              Os Segredos dos Cursos
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-academic-formation-modal></app-academic-formation-modal>
  <app-about-me-modal></app-about-me-modal>
  <app-professional-journey-modal></app-professional-journey-modal>
</div>