<div class="bg-light  py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display-4 font-weight-light">Nosso Time</h2>
          <p class="font-italic text-muted">Conheça um pouco mais do time Matheus Pimentel.</p>
        </div>
      </div>
      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-2"></div>
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../../../assets/Imgs/Institutonial/Our-Team/8.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Matheus Pimentel</h5>
            <span class="small text-uppercase text-muted">
              Analista | Desenvolvedor | Senior | .Net | C#  | KafKa | Redis | 
              Mongo | PLSQL | Engenheiro | Arquiteto | Softwares | FrameWork | 
              Entity | Identity | Open Search | Kibana | Elastic Stack ELK | 
              Docker | Kurbenetes | Azure</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item mx-4">
                <a href="https://github.com/MatheusVSMPimentel" class="social-link">
                  <i class="fa fa-github"></i>
              </a></li>
              <li class="list-inline-item">
                <a href="https://stackoverflow.com/users/13673683/matheusvsmpimentel" class="social-link">
                  <i class="fa fa-stack-overflow"></i> 
                </a>
              </li>
              <li class="list-inline-item mx-3">
                <a href="https://www.instagram.com/matheusvinicius.mpimentel/" class="social-link">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2">
                <a href="https://www.linkedin.com/in/matheus-vinicius-pimentel/" class="social-link">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../../../assets/Imgs/Institutonial/Our-Team/10.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Lyra Pimentel</h5>
            <span class="small text-uppercase text-muted">Gerente de Cochilos Estratégicos | Especialista em Requisitos de Comida |  Especialista em Aconchego Técnico </span>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../../../assets/Imgs/Institutonial/Our-Team/9.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Bruce Wayne Pimentel</h5>
            <span class="small text-uppercase text-muted">
              Gerente de Aconchego e Carinho | Diretor de Relações Felinas |  Especialista em Exploração Curiosa

            </span>
            
          </div>
        </div>
        <!-- End-->
      </div>
    </div>
  </div>