<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img class="mx-2" alt = "Minha Foto " 
          style="
          border-radius:50% ;
          justify-content: center;
          align-items: center;
          width: 50px;
          overflow: hidden;" src="../../../assets/Imgs/Navigation/Navbar/1.jpg">Matheus Pimentel
        </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/productslist">Produtos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/aboutme">Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contactme">Contato</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" aria-disabled="true">Features</a>
                </li>
              </ul>
      </div>
  </nav>

