<div>
    <div class="container">
        <div class="row">
           <div class="col-lg-12 text-center my-2">
               <h4>Meus curso e certificações profissionais</h4>
           </div>
        </div>
        <div id="portfolio" class="portfolio-menu text-center mt-2 mb-4" >
           <ul>
              <li class="btn btn-outline-dark mx-1 active"  >All</li>
              <li class="btn btn-outline-dark mx-1" filter-institution=".devio" >Desenvolvedor.Io</li>
              <li class="btn btn-outline-dark mx-1" filter-institution=".balta">Balta.Io</li>
              <li class="btn btn-outline-dark mx-1" filter-institution=".4linux">4Linux</li>
           </ul>
           <ul>
            <li class="btn btn-outline-dark mx-1 active"  filter-type="*" >All</li>
            <li class="btn btn-outline-dark mx-1" filter-type=".professional-formation" >Formação profissional</li>
            <li class="btn btn-outline-dark mx-1" filter-type=".courses">Cursos</li>
           </ul>

        </div>
        <div id="portfolio-view" class="portfolio-item row" data-bs-toggle="modal" data-bs-target="#galleryModal">
           <div  class="filtr-item col-lg-4 col-md-6 col-12">
              <img class="img-fluid " 
              src="../../../assets/Imgs/Institutonial/Courses-Certifications-Gallery/Balta.io/1.jpeg" 
              alt="" data-bs-target="#carouselCoursesCertifications" data-bs-slide-to="0">
           </div>
           <div class="filtr-item col-lg-4 col-md-6 col-12">
              <img class="img-fluid" 
              src="../../../assets/Imgs/Institutonial/Courses-Certifications-Gallery/Desenvolvedor.io/Professional-Formation/1.png" alt=""
              data-bs-target="#carouselCoursesCertifications" data-bs-slide-to="1">
           </div>
           <div class="filtr-item col-lg-4 col-md-6 col-12">
              <img class="img-fluid" 
              src="../../../assets/Imgs/Institutonial/Courses-Certifications-Gallery/Desenvolvedor.io/Professional-Formation/2.png" 
              alt="" data-bs-target="#carouselCoursesCertifications" data-bs-slide-to="1">
           </div>
        </div>
     </div>

     <app-courses-certification-modal></app-courses-certification-modal>
 
</div>